<div id="sidebar"
    class="fixed md:relative left-0 top-0 md:top-auto h-screen w-[250px] bg-gray-900 p-5 border-r border-gray-700 transform -translate-x-full md:translate-x-0 transition-transform duration-300 overflow-y-auto z-50">
    <h3 class="text-lg font-bold mb-5">Menu</h3>
    <ul class="space-y-4">
        <li class="flex items-center gap-3 cursor-pointer hover:text-gray-400">
            <a href="/home">
                <i class="fas fa-home fa-solid"></i> Home
            </a>
        </li>
        <li class="flex items-center gap-3 cursor-pointer hover:text-gray-400">
            <a href="/search">
                <i class="fas fa-search fa-solid"></i> Search
            </a>
        </li>
        <li class="flex items-center gap-3 cursor-pointer hover:text-gray-400">
            <a href="/profile">
                <i class="fas fa-user fa-solid"></i> Profile
            </a>
        </li>
    </ul>
    <button id="toggleSidebar" class="text-white md:hidden">☰</button>
</div>